{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
